// @media (max-width: 1024px) {
// 	.log_blk {
// 		h1 {
// 			color: var(--black);
// 			// font-size: var(--h3);
// 		}
// 	}
// }
// @media (max-width: 991px) {
// 	.log_blk {
// 		h1 {
// 			color: var(--secondary_color);
// 			// font-size: var(--h3);
// 		}
// 	}
// }
// @media (max-width: 767px) {
// 	.log_blk {
// 		h1 {
// 			color: var(--primary_color);
// 			// font-size: var(--h3);
// 		}
// 	}
// }

/*_______________________ Reuseable _______________________*/

.icon {
	font-size: 1.8rem;
	line-height: 1;
}

/*_______________________ Header _______________________*/

#header {
	background-color: #f4f4f5;

	.mini_bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;

		@media (max-width: 991px) {
			justify-content: center;
		}

		.social_list {
			display: flex;

			@media (max-width: 991px) {
				display: none;
			}

			.list_item {
				padding: 0 0.5rem;
			}
		}

		.promo_blk {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: 1.5rem;

			span {
				color: var(--primary_color);
			}
		}

		.right_blk {
			display: flex;
			align-items: center;
			justify-content: center;

			@media (max-width: 991px) {
				display: none;
			}

			.drop_btn {
				font-size: 1.3rem;
				text-align: center;
				padding: 0 1rem;
				white-space: nowrap;
				border: 0;
				background: transparent;
				outline: none !important;
				transition: var(--trans);

				&:hover {
					color: var(--primary_color);
				}
			}

			.dropdown-menu {
				border: transparent;
				margin-top: 1.1rem !important;
				box-shadow: 0 3rem 3.5rem rgb(0 0 0 / 7%);
				padding: 0 2rem 1rem;

				li {
					padding: 0.5rem 0;

					.link {
						font-size: 1.4rem;
						padding: 0.5rem 0;
					}
				}
			}

			div {
				font-size: 1.3rem;
				display: flex;
				gap: 0.5rem;
			}
		}
	}

	nav {
		background: var(--white);
		padding: 1.5rem 0;

		.main_bar {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.logo {
				width: 12rem;
			}

			.menu_list {
				display: flex;
				align-items: center;

				.list_item {
					.link {
						font-size: 1.8rem;
						font-weight: 600;
						padding: 1rem 1.5rem;
					}
				}
			}

			.icon_list {
				display: flex;

				li {
					a {
						font-size: 3rem;
						padding: 0 1rem;
					}
				}

				.cart_item {

					display: flex;
					align-items: center;

					span {
						font-size: 1.5rem;
						font-weight: 600;
					}

					&:hover span {
						color: var(--dark);
					}
				}
			}
		}
	}
}

/*_______________________ Top Slider _______________________*/

#top_swiper {
	.carousel {

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			width: 6rem;
			height: 6rem;
			background-color: rgba(255, 255, 255, .55);
			border-radius: 50%;
			transition: var(--trans);

			&:hover {
				background-color: var(--primary_color);
			}
		}

		.carousel-control-prev-icon {
			background-image: url("../images/arrow-left.svg");

		}

		.carousel-control-next-icon {
			background-image: url("../images/arrow-right.svg");
		}
	}

	.contetn_wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0 12rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@media (max-width:992px) {
			padding: 0 8rem;
		}

		@media (max-width: 575px) {
			padding: 0 4rem;
		}

		h1 {
			color: var(--primary_color);
			text-align: right;
		}

		.btn {
			display: block;
			margin-left: auto;

			@media (max-width: 992px) {
				margin-top: 2rem;
			}
		}
	}
}

/*_______________________ Feature Posts _______________________*/

#feature_posts {
	padding: 8rem 0;
	background: #fafafa;

	.post {
		position: relative;
		overflow: hidden;

		img {
			transition: var(--trans);
		}

		&:hover {
			img {
				transform: scale(1.1);
			}
		}

		.post_img {
			aspect-ratio: 2/0.8;

			@media (max-width:992px) {
				aspect-ratio: 2/1;
			}
		}

		.post_img_2 {
			aspect-ratio: 1/0.82;

			@media (max-width:992px) {
				aspect-ratio: 1/0.5;
			}
		}

		.content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			padding: 2% 4%;
			z-index: 5;
			color: var(--white);

			p {
				font-size: 1.8rem;
			}
		}

		.content_1 {
			align-items: center;
			justify-content: flex-start;
			color: var(--dark);

			h6 {
				margin: 0;
			}
		}

		.content_2 {
			align-items: flex-end;

			h4 {
				text-align: right;
			}
		}

		.back_circle {
			background-color: var(--secondary_color);
			width: 30rem;
			height: 30rem;
			position: absolute;
			left: -5.2rem;
			bottom: -7rem;
			z-index: 2;
			border-radius: 50%;

			@media (max-width: 1199px) {
				width: 25rem;
				height: 25rem;
			}
		}

		.back_circle_red {
			background-color: red;
			width: 25rem;
			height: 25rem;
			position: absolute;
			right: -7.5rem;
			bottom: -13rem;
			z-index: 2;
			border-radius: 50%;
		}

		.back_circle_yellow {
			background-color: var(--primary_color);
			width: 25rem;
			height: 25rem;
			position: absolute;
			left: -7.5rem;
			bottom: -7rem;
			z-index: 2;
			border-radius: 50%;

			@media (max-width: 1199px) {
				width: 22rem;
				height: 22rem;
				left: -6rem;
				bottom: -7rem;
			}
		}

		.back_circle_2 {
			left: initial;
			right: -7rem;
			bottom: -9rem;
		}

	}
}

/*_______________________ Categories _______________________*/

#categories {
	padding-bottom: 8rem;
	background: #fafafa;

	h6 {
		padding-top: 2rem;
		position: relative;
		text-align: center;

		&::after {
			content: attr(data-name);
			width: 100%;
			font-size: 8rem;
			text-transform: uppercase;
			opacity: .1;
			position: absolute;
			top: -1rem;
			left: 50%;
			transform: translate(-50%);

			@media (max-width:991px) {
				font-size: 4rem;
				top: 1.5rem;
			}
		}
	}

	.categories_blk {
		margin-top: 5rem;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 2rem;

		.cate_item {
			width: 18%;
			max-width: 18%;
			overflow: hidden;
			background-color: #f7f7f8;
			margin: 0 1rem;

			.cate_img {
				overflow: hidden;
				img {
					transition: var(--trans);

					&:hover {
						transform: scale(1.1);
					}
				}
			}

			@media (max-width: 991px) {
				width: 47%;
				min-width: 47%;
			}
			@media (max-width: 767px) {
				width: 65%;
				min-width: 65%;
			}

			p {
				font-size: 2rem;
				padding: 1rem 0;
				font-weight: 600;
				text-align: center;

				a {
					&:hover {
						color: var(--primary_color);
					}
				}
			}
		}


	}
}

/*_______________________ Best Sellers _______________________*/
#best_sellers {
	padding: 8rem 0;

	ul {
		position: relative;
		text-align: center;
		justify-content: center;

		&::after {
			content: attr(data-name);
			width: 100%;
			font-size: 8rem;
			font-weight: 600;
			text-transform: uppercase;
			opacity: .1;
			position: absolute;
			top: -4rem;
			left: 50%;
			transform: translate(-50%);
			z-index: -1;

			@media (max-width:991px) {
				font-size: 4rem;
			}
		}

		.item{
			margin: 0 1.5rem;
			h6{
				color: #8d92a3;
				margin: 0;
			}
			.active{
				color: var(--dark);
			}
		}

	}

	.products_blk{
		display: flex;
		flex-wrap: wrap;

		.prd_item{
			width: 18%;
			max-width: 18%;
			overflow: hidden;
			background-color: #f7f7f8;
			margin: 0 1rem;
		}
	}


}