// @media (max-width: 1024px) {
// 	.log_blk {
// 		h1 {
// 			color: var(--black);
// 			// font-size: var(--h3);
// 		}
// 	}
// }
// @media (max-width: 991px) {
// 	.log_blk {
// 		h1 {
// 			color: var(--secondary_color);
// 			// font-size: var(--h3);
// 		}
// 	}
// }
// @media (max-width: 767px) {
// 	.log_blk {
// 		h1 {
// 			color: var(--primary_color);
// 			// font-size: var(--h3);
// 		}
// 	}
// }

/*_______________________ Reuseable _______________________*/

.icon {
	font-size: 1.8rem;
}

/*_______________________ Header _______________________*/

#header {
	background-color: #f4f4f5;

	.mini_bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;

		@media (max-width: 991px) {
			justify-content: center;
		}

		.social_list {
			display: flex;

			@media (max-width: 991px) {
				display: none;
			}

			.list_item {
				padding: 0 0.5rem;
			}
		}

		.promo_blk {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: 1.5rem;

			span {
				color: var(--primary_color);
			}
		}

		.right_blk {
			display: flex;
			align-items: center;
			justify-content: center;

			@media (max-width: 991px) {
				display: none;
			}

			.drop_btn {
				font-size: 1.3rem;
				text-align: center;
				padding: 0 1rem;
				white-space: nowrap;
				border: 0;
				background: transparent;
				outline: none !important;
				transition: var(--trans);

				&:hover {
					color: var(--primary_color);
				}
			}

			.dropdown-menu {
				border: transparent;
				margin-top: 1.1rem !important;
				box-shadow: 0 3rem 3.5rem rgb(0 0 0 / 7%);
				padding: 0 2rem 1rem;

				li {
					padding: 0.5rem 0;

					.link {
						font-size: 1.4rem;
						padding: 0.5rem 0;
					}
				}
			}

			div {
				font-size: 1.3rem;
				display: flex;
				gap: 0.5rem;
			}
		}
	}

	nav {
		background: var(--white);
		padding: 1.5rem 0;

		.main_bar {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.logo {
				width: 12rem;
				min-width: 12rem;
			}

			.menu_list {
				display: flex;
				align-items: center;

				.list_item {
					.link {
						font-size: 1.8rem;
						font-weight: 600;
						padding: 1rem 1.5rem;
					}
				}
			}

			.icon_list {
				display: flex;

				li {
					a {
						font-size: 3rem;
						padding: 0 1rem;
					}
				}

				.cart_item {

					display: flex;
					align-items: center;

					span {
						font-size: 1.5rem;
						font-weight: 600;
					}

					&:hover span {
						color: var(--dark);
					}
				}
			}
		}
	}
}

/*_______________________ Top Slider _______________________*/

#top_swiper {
	padding: 0;
	.carousel {

		.carousel-item {
			aspect-ratio: 1/0.35;
		}

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			width: 6rem;
			min-width: 6rem;
			height: 6rem;
			background-color: rgba(255, 255, 255, .55);
			border-radius: 50%;
			transition: var(--trans);

			&:hover {
				background-color: var(--primary_color);
			}
		}

		.carousel-control-prev-icon {
			background-image: url("../images/arrow-left.svg");

		}

		.carousel-control-next-icon {
			background-image: url("../images/arrow-right.svg");
		}
	}

	.contetn_wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0 12rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@media (max-width:992px) {
			padding: 0 8rem;
		}

		@media (max-width: 575px) {
			padding: 0 4rem;
		}

		h1 {
			color: var(--primary_color);
			text-align: right;
			margin: 0;
		}

		h2 {
			margin: 0;
		}

		.btn {
			display: block;
			margin-left: auto;
		}
	}
}

/*_______________________ Feature Posts _______________________*/

#feature_posts {
	background: #fafafa;

	.post {
		position: relative;
		overflow: hidden;

		img {
			transition: var(--trans);
		}

		&:hover {
			img {
				transform: scale(1.1);
			}
		}

		.post_img {
			background-color: var(--white);
			width: 100%;
			aspect-ratio: 2/0.8;
		}

		.post_img_2 {
			background-color: var(--white);

			width: 100%;
			aspect-ratio: 1/0.82;

			@media (max-width:992px) {
				aspect-ratio: 1/0.4;
			}
		}

		.content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			padding: 2% 4%;
			z-index: 5;
			color: var(--white);

			p {
				font-size: 1.8rem;
			}
		}

		.content_1 {
			align-items: center;
			justify-content: flex-start;
			color: var(--dark);

			h6 {
				margin: 0;
			}
		}

		.content_2 {
			align-items: flex-end;

			h4 {
				text-align: right;
			}
		}

		.back_circle {
			background-color: var(--secondary_color);
			width: 30rem;
			height: 30rem;
			position: absolute;
			left: -5.2rem;
			bottom: -7rem;
			z-index: 2;
			border-radius: 50%;

			@media (max-width: 1199px) {
				width: 25rem;
				height: 25rem;
			}
		}

		.back_circle_red {
			background-color: red;
			width: 25rem;
			height: 25rem;
			position: absolute;
			right: -7.5rem;
			bottom: -13rem;
			z-index: 2;
			border-radius: 50%;
		}

		.back_circle_yellow {
			background-color: var(--primary_color);
			width: 25rem;
			height: 25rem;
			position: absolute;
			left: -7.5rem;
			bottom: -7rem;
			z-index: 2;
			border-radius: 50%;

			@media (max-width: 1199px) {
				width: 22rem;
				height: 22rem;
				left: -6rem;
				bottom: -7rem;
			}
		}

		.back_circle_2 {
			left: initial;
			right: -7rem;
			bottom: -9rem;
		}

	}
}

/*_______________________ Categories _______________________*/

#categories {
	padding-top: 0rem;
	background: #fafafa;

	h6 {
		padding-top: 2rem;
		position: relative;
		text-align: center;

		&::after {
			content: attr(data-name);
			width: 100%;
			font-size: 8rem;
			text-transform: uppercase;
			opacity: .1;
			position: absolute;
			top: -1rem;
			left: 50%;
			transform: translate(-50%);

			@media (max-width:991px) {
				font-size: 4rem;
				top: .7rem;
			}
		}
	}

	.categories_blk {
		margin-top: 5rem;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 2rem;

		.cate_item {
			width: 18%;
			max-width: 18%;
			overflow: hidden;
			background-color: #f7f7f8;
			margin: 0 1rem;

			.cate_img {
				width: 100%;
				overflow: hidden;
				aspect-ratio: 1/0.8;

				img {
					transition: var(--trans);

					&:hover {
						transform: scale(1.1);
					}
				}
			}

			@media (max-width: 991px) {
				width: 47%;
				min-width: 47%;
			}

			@media (max-width: 767px) {
				width: 65%;
				min-width: 65%;
			}

			p {
				font-size: 2rem;
				padding: 1rem 0;
				font-weight: 600;
				text-align: center;

				a {
					&:hover {
						color: var(--primary_color);
					}
				}
			}
		}


	}
}

/*_______________________ Best Sellers _______________________*/
#best_sellers {

	ul {
		position: relative;
		text-align: center;
		justify-content: center;

		&::after {
			content: attr(data-name);
			width: 100%;
			font-size: 8rem;
			font-weight: 600;
			text-transform: uppercase;
			opacity: .1;
			position: absolute;
			top: -4rem;
			left: 50%;
			transform: translate(-50%);
			z-index: -1;

			@media (max-width:991px) {
				font-size: 4rem;
				top: -2rem;
			}
		}

		.item {
			margin: 0 1.5rem;

			h6 {
				color: #8d92a3;
				margin: 0;
			}

			.active {
				color: var(--dark);
			}
		}

	}

	.products_blk {
		margin-top: 3rem;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 2rem;

		.prd_item {
			position: relative;
			width: 18%;
			max-width: 18%;
			overflow: hidden;
			margin: 0 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1.5rem 0;

			@media (max-width: 991px) {
				width: 47%;
				min-width: 47%;
			}

			@media (max-width: 767px) {
				width: 65%;
				min-width: 65%;
			}

			&:hover {
				img {
					transform: scale(1.1);
				}

				.sale_badge {
					transform: translateX(-8rem);
				}

				.icon_badge {
					transform: translateX(-4.3rem);
				}

				.price {
					transform: translateY(4.5rem);
				}

				.btn {
					transform: translateY(-5rem);
				}

				@media (max-width: 991px) {
					.sale_badge {
						transform: translateX(0);
					}

					.icon_badge {
						transform: translateX(0);
					}

					.price {
						transform: translateY(0);
					}

					.btn {
						transform: translateY(0);

					}
				}
			}

			.sale_badge {
				width: 6.5rem;
				min-width: 6.5rem;
				height: 6.5rem;
				background-color: #f76222;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.5rem;
				font-weight: 700;
				color: var(--white);
				position: absolute;
				top: 0;
				left: 0;
				transition: var(--trans);

				@media (max-width: 767px) {
					width: 5.5rem;
					min-width: 5.5rem;
					height: 5.5rem;
				}
			}

			.new_badge {
				background-color: #78cb36;
			}

			.prd_img {
				overflow: hidden;
				width: 100%;
				aspect-ratio: 1/1;

				img {
					transition: var(--trans);
				}
			}

			.rating_blk {
				color: #ffd400;
				text-align: left;
				width: 100%;
			}

			.prd_cate {
				margin: 0;

				a {
					color: #9e9e9e;
					font-size: 1.3rem;
				}
			}

			.prd_title {
				display: block;
				text-align: center;
				overflow: hidden;
			}

			.price {
				transition: var(--trans);

				strong {
					margin-left: 0.5rem;
				}
			}

			.icon_badge {

				position: absolute;
				top: 0;
				right: -4rem;
				transition: var(--trans);

				.prd_icon {
					width: 3.3rem;
					min-width: 3.3rem;
					height: 3.3rem;
					background-color: #f7f7f8;
					border-radius: 50%;
					overflow: hidden;
					@include flex;
					font-size: 2rem;
					margin-bottom: .5rem;
					box-shadow: 0 0.4rem 0.4rem rgb(0 0 0 / 5%);

				}

				@media (max-width: 991px) {
					right: 0;
				}
			}

			.btn {
				height: 4rem;
				padding: 0 1.5rem;
				bottom: -4rem;
				position: absolute;
				background-color: var(--primary_color);

				@media (max-width: 991px) {
					position: static;
					bottom: initial;
				}

				&:hover {
					background-color: var(--dark);
				}

			}

		}
	}


}

/*_______________________ Discount Banner _______________________*/
#discount_banner {
	padding: 0;

	.banner {
		position: relative;
		width: 100%;
		aspect-ratio: 1/0.32;

		.contetn_wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0 12rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@media (max-width:992px) {
				padding: 0 8rem;
			}

			@media (max-width: 575px) {
				padding: 0 4rem;
			}

			h1 {
				color: var(--primary_color);
				margin: 0;
			}

			h2 {
				margin: 0;
			}


		}
	}
}

/*_______________________ Product Promo _______________________*/
#product_promo {

	.prd_blk {
		position: relative;

		.prd_img {
			width: 100%;
			aspect-ratio: 1/0.76;

			@media (max-width: 991px) {
				aspect-ratio: 1/1;
			}
		}

		.back_circle {
			background-color: var(--secondary_color);
			width: 15rem;
			min-width: 15rem;
			height: 15rem;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			@include flex;

			@media (max-width: 991px) {
				width: 10rem;
				min-width: 10rem;
				height: 10rem;
			}

			h6 {
				text-align: center;
				margin: 0;
				color: var(--white);
			}
		}

		.prd_price {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;

			h3 {
				color: #f00;
				font-weight: 700;
				margin: 0;
			}
		}
	}

	.prd_detail {

		p {
			font-size: 1.6rem;
		}

		li {
			display: flex;
			align-items: center;
			margin-top: 1rem;

			&::before {
				font-size: 1.4rem;
				font-family: remixicon !important;
				content: "\EB7B";
				color: #000;
			}

			span {
				margin-left: 0.5rem;
			}
		}
	}

}

/*_______________________ Best Products _______________________*/
#best_products {
	background-color: #fafafa;
	position: relative;

	h6 {
		padding-top: 2rem;
		position: relative;
		text-align: center;
		margin-bottom: 3rem;
		z-index: 10;

		&::after {
			content: attr(data-name);
			width: 100%;
			font-size: 8rem;
			text-transform: uppercase;
			opacity: .1;
			position: absolute;
			top: -1rem;
			left: 50%;
			transform: translate(-50%);

			@media (max-width:991px) {
				font-size: 4rem;
				top: .7rem;
			}
		}
	}

	.prd_item {
		background-color: var(--white);
		position: relative;
		overflow: hidden;
		margin: 0 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.5rem 0.5rem;


		&:hover {
			img {
				transform: scale(1.1);
			}

			.sale_badge {
				transform: translateX(-8rem);
			}

			.icon_badge {
				transform: translateX(-4.8rem);
			}

			.price {
				transform: translateY(4.5rem);
			}

			.btn {
				transform: translateY(-5rem);
			}

			@media (max-width: 991px) {
				.sale_badge {
					transform: translateX(0);
				}

				.icon_badge {
					transform: translateX(0);
				}

				.price {
					transform: translateY(0);
				}

				.btn {
					transform: translateY(0);

				}
			}
		}

		.sale_badge {
			width: 5rem;
			min-width: 5rem;
			height: 5rem;
			background-color: #f76222;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.2rem;
			font-weight: 700;
			color: var(--white);
			position: absolute;
			top: 0;
			left: 0;
			transition: var(--trans);

			@media (max-width: 767px) {
				width: 4rem;
				min-width: 4rem;
				height: 4rem;
				font-size: 1rem;
				top: 0.5rem;
				left: 0.5rem;
			}
		}

		.new_badge {
			background-color: #78cb36;
		}

		.prd_img {
			overflow: hidden;
			width: 100%;
			aspect-ratio: 1/1;

			img {
				transition: var(--trans);
			}
		}

		.rating_blk {
			color: #ffd400;
			text-align: left;
			width: 100%;
		}

		.prd_cate {
			margin: 0;

			a {
				color: #9e9e9e;
				font-size: 1.3rem;
			}
		}

		.prd_title {
			display: block;
			text-align: center;
			overflow: hidden;
		}

		.price {
			transition: var(--trans);

			strong {
				margin-left: 0.5rem;
			}
		}

		.icon_badge {

			position: absolute;
			top: 0.5rem;
			right: -4rem;
			transition: var(--trans);

			.prd_icon {
				width: 3.3rem;
				min-width: 3.3rem;
				height: 3.3rem;
				background-color: #f7f7f8;
				border-radius: 50%;
				overflow: hidden;
				@include flex;
				font-size: 2rem;
				margin-bottom: .5rem;
				box-shadow: 0 0.4rem 0.4rem rgb(0 0 0 / 5%);

			}

			@media (max-width: 991px) {
				right: 0.5rem;
			}
		}

		.btn {
			height: 4rem;
			padding: 0 1.5rem;
			bottom: -4rem;
			position: absolute;
			background-color: var(--primary_color);

			@media (max-width: 991px) {
				position: static;
				bottom: initial;
			}

			&:hover {
				background-color: var(--dark);
			}

		}

	}

	.bg_img {
		width: 50rem;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}

}

/*_______________________ Upgrade Product _______________________*/
#upgrad_product {

	h1 {
		color: var(--secondary_color);
	}

	.product {
		position: relative;

		.update_badge {
			border: transparent;
			width: 4.8rem;
			min-width: 4.8rem;
			height: 4.8rem;
			background-color: rgba(0, 0, 0, 0.03);
			@include flex;
			border-radius: 50%;
			overflow: hidden;
			position: absolute;
			left: 35%;
			top: 10%;

			@media (max-width: 767px) {
				width: 3.8rem;
				min-width: 3.8rem;
				height: 3.8rem;
			}

			span {
				width: 3.2rem;
				min-width: 3.2rem;
				height: 3.2rem;
				overflow: hidden;
				border-radius: 50%;
				background-color: var(--primary_color);
				color: var(--white);
				font-size: 3rem;
				@include flex;
				transition: var(--trans);


				@media (max-width: 767px) {
					width: 2.2rem;
					min-width: 2.2rem;
					height: 2.2rem;
					font-size: 2rem;
				}

				&:hover {
					color: var(--primary_color);
					background-color: var(--white);
				}
			}
		}

		.update_badge_p2 {
			left: 58%;
			top: 65%;
		}

		.update_badge_p3 {
			left: 75%;
		}
	}
}

/*_______________________ Upgrade Product _______________________*/
#form_blog {
	background-color: #fafafa;

	h6 {
		padding-top: 2rem;
		position: relative;
		text-align: center;
		margin-bottom: 3rem;
		z-index: 10;

		&::after {
			content: attr(data-name);
			width: 100%;
			font-size: 8rem;
			text-transform: uppercase;
			opacity: .1;
			position: absolute;
			top: -1rem;
			left: 50%;
			transform: translate(-50%);
			z-index: -1;

			@media (max-width:991px) {
				font-size: 4rem;
				top: .7rem;
			}
		}
	}

	.blog_card {

		.blog_img {
			width: 100%;
			aspect-ratio: 2/1;
			overflow: hidden;

			img {
				transition: var(--trans);

				&:hover {
					transform: scale(1.1);
				}
			}
		}

		.title {
			margin-top: 1.5rem;
			display: block;
			font-size: 1.8rem;
			font-weight: 600;
			text-align: center;
		}

		.bottom_blk {
			margin-top: 1rem;
			@include flex;
			flex-wrap: wrap;
			gap: 1rem;

			p {
				color: #a5a6ac;
				@include flex;
				margin: 0;

			}

			a {
				color: #a5a6ac;
				@include flex;

				&:hover {
					color: var(--primary_color);
				}
			}

			i {
				margin-right: 0.5rem;
			}
		}
	}
}

/*_______________________ Upgrade Product _______________________*/
#footer {


	.wrapper {
		background-color: var(--secondary_color);
		padding: 2.5rem 0;

		.outer_blk {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 767px) {
				flex-direction: column;
				row-gap: 2rem;
			}

			.footer_logo {
				width: 12rem;
				min-width: 12rem;
			}

			.footer_list {
				@include flex;
				flex-wrap: wrap;

				li {
					margin: 0 1rem;

					a {
						font-size: 1.6rem;
						color: var(--white);

						&:hover {
							color: var(--dark)
						}
					}
				}
			}

			.social_list {
				@include flex;

				li {
					margin: 0 0.5rem;

					a {
						color: var(--white);

						&:hover {
							color: var(--dark);
						}
					}
				}
			}
		}
	}

	.footer_bottom {
		background-color: var(--white);
		padding: 2rem;
		.payment_icon{
			display: flex;
			justify-content: center;
			a{
				font-size: 5rem;
				margin: 0 0.5rem;
				line-height: 1.5rem;
			}
		}

		.copy_right{
			margin-top: 1rem;
			text-align: center;
		}
	}

}